@charset "utf-8";
/* CSS Document */

html{
	margin:0;
	padding:0;
	background: #ccc url(../img/bg_body.gif) repeat-x;
}

body{
	margin:0;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:9pt;
	/*border:1px dashed red;*/
}

div#container{
	margin:0 auto;
	padding:0;
	width:780px;
	height:auto;
}

div#topo{
	margin:0;
	padding:0;
	margin-top:12px;
	background: url(../img/bg_top.gif) repeat-x;
	width:auto;
	height:175px;
}

div#menu{
	margin:0;
	margin-top:5px;
	padding:0;
	width:190px;
	float:left;
	/*border:1px dashed green;*/
}
	div#menu ul{
	margin:0;
	padding:0;
	list-style:none;
	/*border:1px dashed red;*/
	float:right;
	}
	div#menu ul li{
	margin:0 0 2px 0;
	padding:5px 0 0 15px;
	/*border:1px dashed blue;*/
	background:url(../img/bg_menu_li.png) no-repeat;
	width:168px;
	height:26px;
	}
	
	div#menu ul li a:link, div#menu ul li a:visited{
	font-size:8pt;
	text-decoration:none;
	color:#000;
	}
	div#menu ul li a:hover{
	font-weight:bold;
	}
	
	
div#corpo{
	/*border:1px dashed red;*/
	position:absolute;
	width:598px;
	float:right;
	margin:0 0 0 180px;
	margin-top:0px;
	z-index:10;
	/*visibility:hidden;*/
}

div#corpo .box_corpo_01{
	margin:0; padding:0;
	width:596px;
	height:16px;
	background:url(../img/bg_corpo_01.png) no-repeat;
}
div#corpo .box_corpo_03{
	margin:0; padding:0;
	width:596px;
	height:18px;
	background:url(../img/bg_corpo_03.png) no-repeat;
}
div#corpo .box_corpo_02{
	margin:0; padding:0 10px;
	width:576px;
	height:auto;
	background:url(../img/bg_corpo_02.png) repeat-y;
}

br.clear{clear:both;}

h1.title{
	margin:0;
	font-size:9pt;
	width:350px;
}
h1.title_pag{
	margin:0;
	font-size:9pt;
	color:#9E0B0F;
	letter-spacing:1pt;
	text-align:center;
	font-weight:bold;
}
h2.title{
	margin:0;
	margin-top:5px;
	font-size:6pt;
	letter-spacing:0.5px;
	font-weight:normal;
	width:330px;
	float:left;
}

div.status{
	margin:0;
	float:right;
	width:220px;
	text-align:right;
}

img.linha{
	margin:0 auto;
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
}

.float_left{float:left;}
.float_right{float:right;}
*{outline:0; outline:none;}

.top5px{margin-top:5px;}

fieldset{
	border-color:#9E0B0F;
}

	fieldset legend{
	border:1px solid #9E0B0F;
	border-top:none;
	border-bottom:none;
	padding:0 10px;
	font-weight:bold;
	font-size:8pt;
	margin-left:5px;
	}
	fieldset p{
		margin:0;
		margin-left:5px;
		margin-top:5px;
		float:left;
	}

.input{
	border:1px solid #999;
	padding:2px;
}

.bottom-6px{
	margin-bottom: -6px;	
}

table.info_cliente{
    margin:0 auto;
    font-size:7pt;
    margin-top:5px;
    margin-bottom:5px;
    border:1px solid #ccc;
    width:550px;
}
table.info_cliente tr td{
    margin:0;
    padding:2px 4px;
}
table.info_cliente tr td.bg{
    background-color:#ccc;
}

.alpha{
    opacity:0.35;
	-moz-opacity: 0.35;
	filter: alpha(opacity=35);
	cursor:default;
}

table.tab_dados{
    margin:0 auto;
    border-collapse:collapse;
    border:2px solid #000;
    width:550px;
}

table.tab_dados tr td{
    margin:0;
    padding:4px 8px;
    font-size:7pt;
    text-align:center;
}

.color_text_red{
    color:#9E0B0F;
}

.bg_ccc{
    background-color:#ccc;
}
.bg_b7b7b7{
    background-color:#b7b7b7;
}

/* tabela_de_login */

table#tabela_de_login{
    color:#9E0B0F;
    font-weight:bold;
    width:520px;
    margin:0 auto;
}
    table#tabela_de_login .input{
    border:1px solid #9E0B0F;
    padding:4px;
    }
    table#tabela_de_login .input_pad{
    border:1px solid #9E0B0F;
    padding:3px 2px;
    }
    table#tabela_de_login tr td div.critica{
        font-size:7pt;
        margin:0;
        font-weight:normal;
    }
    table#tabela_de_login tr td a:link,
    table#tabela_de_login tr td a:visited{
        font-size:7pt;
        text-decoration:none;
        color:#9E0B0F;
        font-weight:normal;
    }
    table#tabela_de_login tr td a:hover{
        text-decoration:underline;
    }
    
/* LOADER */
#ajax_loader_whatever{}
/* LOADER */


/* Estilos antigos */

#conteudo_processo{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.itm_form {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9pt;
	width: auto;
	float: left;
	padding-bottom: 5px;
	margin-right:15px;
    height: auto;
}

#separa{
    clear: both;
}

/* Estilos antigos */

table.tab_padrao{
    margin:0 auto;
    border:1px solid #000;
    width:540px;
    border-collapse:collapse;
}

table.tab_padrao tr td{
    margin:0;
    padding:4px;
    font-size:7pt;
    text-align:center;
    border:1px solid #000;
    border-collapse:collapse;
}

/* Propagandas motherfockers */

div#conteudo_propaganda{
    margin:0 auto;
    padding:0;
    width:566px;
    min-height:200px;
}

div#conteudo_propaganda div.item{
    margin:5px;
    padding:0;
    float:left;
    background: url(../img/bg_propaganda.gif) no-repeat;
    width:273px;
    height:125px;
}
	div#conteudo_propaganda div.item p{
		text-align:center;
		margin:0 auto;
	}

/* Fim das Propagandas motherfockers */

.padding_01{
    padding:4px;
}

.bt_voltar{
    margin:0;
    float:right;
}

.cx_btns input{
width:92px;
}
/* Relatório de clientes*/
div#corpo div#conteudo_principal{/*width:573px;overflow:hidden*/}

div#corpo div#conteudo_principal table{}

div#corpo div#conteudo_principal table tr{}

div#corpo div#conteudo_principal table tr td{}

/*classe para tables de gridview*/
.tblGvd
{
	display:block;
	}