@CHARSET "ISO-8859-1";

html,body{
	background:#000;
}
#conteudo{
	background:#fff;
}
.header{
	/*background:#3B5998;*/
	background:#000;
	width:100%;
	height:82px;
}
.logo{
	width:170px;
	height:36px;
	background:url("../img/facebook.gif") no-repeat;
}
.header .logo{
	margin:25px 5px;
}
.header table{
	color:#fff;
	font:normal 11px Arial;
}
.header table tr td{
	vertical-align:middle;
	padding:2px;
	padding-right:2px;
}
.header input[type="text"],.header input[type="password"]{
	padding:2px 2px 2px 2px;
}
.caixa-azul{
	background:#627aac;
	color:#fff;
	border:1px #1a356e solid;
	-moz-box-shadow:inset  0 1px 0 #8a9cc2;
	-webkit-box-shadow:inset  0 1px 0 #8a9cc2;
	box-shadow:inset 0 1px 0 #8a9cc2;
	padding:4px 7px 4px 7px;
	font:bold 11px Arial;
}
.caixa-verde{
	background:#6ba850;
	color:#fff;
	border:1px #1a356e solid;
	-moz-box-shadow:inset  0 1px 0 #84ba6d;
	-webkit-box-shadow:inset  0 1px 0 #84ba6d;
	box-shadow:inset 0 1px 0 #84ba6d;
	padding:4px 7px 4px 7px;
	font:bold 11px Arial;
}
.principal .caixa-verde{
	padding:8px 30px 8px 30px;
	font-size:14px;
}
.cinzac{color:#cccccc;}
.cinza{color:#666;}
.azul{color:#3b5998;}
.branco{color:#fff;}
.login{padding-top: 0px; margin-top: 10px; margin-right: 10px;}
.like{padding:35px 0 0 0;width:95px;overflow:hidden;}
.menu{
	/*background:#98a9ca;*/
	background:#363636;
	padding:10px;
	-moz-box-shadow:inset  0 1px 0 #666;
	-webkit-box-shadow:inset  0 1px 0 #666;
	box-shadow:inset 0 1px 0 #666;
}
.menu ul{
	margin:0 0 0 0;
}
.menu ul li{
	color:#fff;
	padding:10px;
}
.menu a{
	color:#eee;

	text-transform:uppercase;
}
.menu li:hover,.menu li:hover a{
	background:#eee;
	color:#000;
	cursor:pointer;
}
.menu li:hover{

}
.connect_widget .connect_widget_text {
    color: #FFFFFF;
    line-height: 14px;
}
.principal{
	height:auto;
	/*background:url("http://behance.vo.llnwd.net/profiles/57520/projects/56572/575201201120589.jpg") repeat;*/
	background:url("../img/patterns/pattern03.jpg") repeat;
}
.texto-principal{
	width:500px;
	height:345px;
	overflow:hidden;
	font:normal 20px "lucida grande",tahoma,verdana,arial,sans-serif;
	color:#3B5998;
	padding:20px;
}
.caixa-branca{
	background:#fff;
	-moz-box-shadow:inset 0 1px 0 #eaeaea;
	-webkit-box-shadow:inset 0 1px 0 #eaeaea;
	box-shadow:inset 0 1px 0 #eaeaea;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.texto-principal p{
	text-shadow: 0 1px 0 #333;
}
.newsletter{
	width:350px;
	height:361px;
	padding:7px 20px 20px 20px;
	background:#fff;
	overflow:hidden;
}
.newsletter table{
	width:100%;
}
.newsletter table tr td{
	padding:8px 8px 2px 0;
	text-align:middle;
	font:normal 12px Arial;
	color:#3B5998;
}
.newsletter input[type="text"]{
	padding:9px 6px 9px 6px;
	font-size:15px;
	width:250px;
	-moz-box-shadow:inset 0 1px 1px #eaeaea;
	-webkit-box-shadow:inset 0 1px 1px #eaeaea;
	box-shadow:inset 0 1px 1px #eaeaea;
	cursor:pointer;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:0;
}
.newsletter select{
	padding:9px 6px 9px 6px;
	font-size:15px;
	width:263px;
}
.newsletter .label{
	text-align:right;
}
.newsletter h3{

}
.min{font-size:9px;}
.principal hr{
	border:1px #3B5998 solid;
}
.border_tp{border-top:1px #000 solid;}
.border_bt{border-bottom:1px #000 solid;}
.social-img{padding-top:30px;}
.chamadas{width:300px;height:214px;overflow:hidden;color:#666;}
.mid-chamadas{padding:0 30px 0 30px;}
.chamadas .border_bt{border-style:dotted;}
#footer{background:#000;padding-bottom:20px;}