@charset "utf-8";
/* CSS Document */

#slideshow {
    position:relative;
    height: 360px;
    width: auto;
	z-index:1;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    opacity:0.0;
	width:100%;
	height:360px;
}

#slideshow IMG.active {
    z-index:3;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:2;
}