@charset "utf-8";
/* CSS Document */

/* includes */


@import url(reset.css);
@import url(site.css);


/* global */

*{
    margin:0px;
    padding:0px;
}
htm,body{
    margin:0px auto;
    text-align:center;
    overflow-x:hidden;
    font:12px Verdana, Geneva, Arial, Helvetica, sans-serif;
    height:100%;

}
.wrapper{
    width:949px;
    margin:0px auto;
    text-align:left;
}
a{text-decoration:none;}
.inline li{display:inline;padding-bottom:5px;}
.b{display:block;}
.c{clear:both;}
.l{float:left;}
.r{float:right;}
.p5{padding:5px;}


/* text */

.blueText{color:#0070af;}
.grayText{color:#666;}
.orangeText{color:#fa5420;}
.whiteText{color:#fff;}
.redText{color:#cb2920;}
h1{font:normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;}
h2{font:normal 18px Verdana, Geneva, Arial, Helvetica, sans-serif;}
h3{font:normal 22px Verdana, Geneva, Arial, Helvetica, sans-serif;}



/* sprites */

.sprite{
	background:url("../img/sprites/sprite.gif") no-repeat;
	}
.sociais{
	background:url("../img/sprites/sociais.gif") no-repeat;
	width:16px;
	height:16px;
}
.ok_login{
	 background-position:-13px -6px; 
	 width:15px;
	 height:15px;
}
.home{
	 background-position:-10px -57px; 
	 width:20px;
	 height:20px;
}
.ok_busca{
	 background-position:-6px -30px; 
	 width:30px;
	 height:20px;
}
.arrow{
	background-position:-13px -84px;
	width:15px;
	height:15px;
}
.facebook{background-position: -13px -5px;}
.twitterl{background-position: -38px -5px;}
.in{background-position: -88px -5px;}
.feed{background-position: -113px -5px;}
