<p>
    <strong>Endereço:</strong><br />
    Estr. Rio São Paulo,n°283 sala 101 - Campo Grande<br />
    Rio de Janeiro - RJ, 23087-005
</p>

<br />

<p>
    <strong>Telefones para contato:</strong><br />
    (21) 3062-7799<br />
    (21) 3063-0606
</p>

<br />
<br />

<form action="contato.html" method="post">
    <p>
        <label>Nome:<br />
            <input type="text" name="nome" value="" />
        </label>
    </p>

    <br />

    <p>
        <label>Email:<br />
            <input type="text" name="email" value="" />
        </label>
    </p>

    <br />

    <p>
        <label>Assunto:<br />
            <input type="text" name="assunto" value="" />
        </label>
    </p>

    <br />

    <p>
        <label>Digite o código abaixo:
            <br />
            <img src="module-captcha" alt="captcha" />
            <br />
            <input type="text" name="captcha" value="" />
        </label>
    </p>

    <br />

    <p>
        <label>Mensagem:<br />
            <textarea cols="50" rows="10" name="mensagem"></textarea>
        </label>
        <span class="quote"><br/>Preencha todos os campos atentamente. Todos os campos são <br/> de preenchimento obrigatório*</span>
    </p>
    <p><input class="submit" type="submit" name="action" value="Enviar" /></p>
</form>