
<h1>Registro de Domínios</h1>

<br />
<br />

<form method="post" action="">
    <input type="text" name="dominio" value="{$Domain.Name}" />
    <input type="submit" value="Consultar Disponibilidade" />
</form>

<br />
<br />

<h2>RESULTADO:</h2>
<p>
    {if $Domain.Status == false}
    <br />
    <font color="red">Domínio já registrado, tente outras opções...</font>
    {else}
    <br />
    <font color="green">Domínio disponível para registro.</font>
    <br />
    Clique <a href="#">aqui</a> para registra-lo.
    {/if}
</p>

<br />
<br />

<h2>Endereço IP:</h2>
<p>
    <br />
    {$Domain.IPAddress}
</p>

<br />

<h2>WHOIS:</h2>
<p>
    <br />
    {$Domain.whoIs}
</p>