@CHARSET "ISO-8859-1";

.blueborder{border-bottom:2px #00448c solid;}
.greenborder{border-bottom:2px #40ae49 solid;}
.pinkborder{border-bottom:2px #ea068c solid;}
.orangeborder{border-bottom:2px #f58220 solid;}
.redborder{border-bottom:2px #ed1848 solid;}
.purpleborder{border-bottom:2px #7d2a8e solid;}
.yellowborder{border-bottom:2px #fdb813 solid;}
.menulink{width:70px;padding:5px 40px 8px 5px;margin-right:5px;color:#666;}
.blueborder:hover{background:#00448c;color:#fff;}
.greenborder:hover{background:#40ae49;color:#fff;}
.pinkborder:hover{background:#ea068c;color:#fff;}
.orangeborder:hover{background:#f58220;color:#fff;}
.redborder:hover{background:#ed1848;color:#fff;}
.purpleborder:hover{background:#7d2a8e;color:#fff;}
.yellowborder:hover{background:#fdb813;color:#fff;}
.topbar{font-size:13px;color:#666;padding-top:5px;}
.topbar input[type="text"],.sidebar input[type="text"]{border:1px #ccc solid;padding: 3px 30px 3px 3px;color:#666;}
.header .wrapper{border-bottom:2px #e8fad5 solid;padding-bottom:10px;}
#footer{background:#90be04;height:auto;border-top:2px #a7dd04 solid;color:#fff;}
#footer a{color:#fff;}
.logo{
	background:Url("../img/logo.gif") no-repeat;
	width:174px;
	height:50px;
}
.logo_branco{
	background:url("../img/logo_branco.jpg") no-repeat;
	width:112px;
	height:32px;
}
.footerfooter{background:#749a03;}
#conteudo,#header{background:#fff;}
#breadcrumb a{color:#666;}
.sidebar{width:220px;}
.sidebar h2{text-transform:uppercase;text-align:right;}
.dotted{border-bottom:1px #ccc dotted;padding-bottom:5px;margin-bottom:5px;}
.sidebar ul li{text-align:right;line-height:18px;}
.sidebar a{color:#666;}
.enviar{width:76px;height:26px;background:url("../img/enviar.jpg") no-repeat;}
.conteudo{width:794px;}
.destaque{width:500px;}
.chamada{width:130px;}
.chamada a{color:#666;text-decoration:underline;}
.chamada-destaque{width:220px;height:420px;background:#ededed;overflow:hidden;}
.chamada-destaque img{width:220px;}
.chamada-destaque-tit{background:#d2d2d2;padding:5px;text-align:center;}
#noticias{width:325px;}
.noticias{width:155px;height:390px;background:#bdc2b6;overflow:hidden;}
.noticias a,.noticias{color:#fff;}
.noticias .dotted{border-color:#fff;}
