@charset "utf-8";
/* CSS Document */

/* includes */

@import url(reset.css);
@import url(site.css);

/* global */

*{
    margin:0px;
    padding:0px;
}
htm,body{
    margin:0px auto;
    text-align:center;
    overflow-x:hidden;
    font:12px Verdana, Geneva, Arial, Helvetica, sans-serif;
    height:100%;
}
.wrapper-holder{
    width:100%;
    height: auto;
}
.wrapper{
    width:1024px;
    margin:0px auto;
    text-align:left;
}
a{text-decoration:none;}
.inline li{display:inline;padding-bottom:5px;}
.b{display:block;}
.c{clear:both;}
.l{float:left;}
.r{float:right;}
.p{padding:20px;}
.p5{padding:5px;}


/* text */

.bolder{font-weight:bold;}


/* sprites */

.sprite{background:url("../img/sprites/sprite.gif") no-repeat;}
.sprite-x{background:url("../img/sprites/sprite-x.gif") repeat-x;}
.sprite-y{
	background:url("../img/sprites/sprite-y.gif") no-repeat;
	width:28px;
}






