@import url("reset.css");

body {
    margin: 0px auto;
    overflow-x: hidden;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    text-align: left;
    margin: 0px auto;
    width: 900px;
}
#topo {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 160px;
    background: url("../images/topoFundo.gif") repeat-x;
}
#logo {
    position: relative;
    width: 220px;
    height: 119px;
    float: left;
    top: 15px;
    left: 15px;
}
#topo-rightColumn {
    position: relative;
    float: right;
    top: 30px;
    right: 10px;
}
#topo-rightColumn ul li {
    display: inline;
    margin-right: 5px;
}
#topo-rightColumn ul li, #topo-rightColumn ul li a {
    font-size: 12px;
    color: #878787;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
}
#shortcutMenu {
    position: relative;
    height: 20px;
    text-align: right;
    margin-bottom: 5px;
}
#shortSearch {
    position: relative;
    height: 25px;
    text-align: right;
    margin-bottom: 5px;
    left: 160px;
}
#shortSearch tr td { vertical-align: top; padding-right: 5px; }
#shortSearch input[type="text"] {
    border: 1px #e3e3e3 solid;
    color: #878787;
    font-size: 12px;
    width: 200px;
    padding: 2px;
}
#shortSearch input[type="submit"] {
    background: url("../images/ok.png") no-repeat;
    height: 25px;
    width: 35px;
    border: 0px;
}
#shortContact {
    position: relative;
    height: 28px;
}
#mainMenu {
    width: 100%;
    margin: 0 auto;
    height: 40px;
}
#bigSeparator {
    height: 30px;
}
#mainContent {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
#mainContent #contentBanner {
    position: relative;
    width: 100%;
}
#mainContent #contentBanner .columnLeft, .columnLeft {
    position: relative;
    float: left;
    width: auto;

}
#conteudoTexto .columnMiddle * {
    width: auto;
    font-size: 12px;
}
#conteudoTexto .columnLeft * {
    width: auto;
    font-size: 12px;
}
#conteudoTexto .columnLeft ul { width: 500px; }
#mainContent #contentBanner .columnRight, .columnRight {
    position: relative;
    float: right;
    width: 200px;
}
#mainContent #contentBanner .columnRight ul, #mainContent #servicesLogin .columnRight .right ul {
    background-color: #fff;
    color: #000;
    width: 200px;
    margin-top: 0px;
    float:right;
}
.columnRight ul li, .columnRight .right ul li {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    padding: 0px 5px 5px 0px;
    text-align: justify;
}
.columnRight ul li.title, .columnRight .right ul li.title {
    font-weight:bold;
    font-size: 12px;
    margin-bottom: 10px;
    color:#266396;
}
ul li.mais { text-align: right; float: right; text-decoration: none; color: #000; }
ul li.mais a { color: #000; text-decoration: none; }
.postDate { font-style: italic; border-bottom: 1px #d2d2d2 dotted; margin-bottom: 12px;}
.postDate2 {  font-style: italic; }
#mainContent #servicesLogin {
    position: relative;
    width: 100%;
}
#mainContent #servicesLogin .columnLeft #loginSec ul li.title {
    padding: 6px;
    border: 1px #cccccc solid;
    width: 215px;
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
    color: #3a88b6;
    font-size: 13px;
    font-weight: bold;
}
#mainContent #servicesLogin .columnLeft {
    width: 250px;
    position: relative;
    float: left;
    padding: 5px;
    margin-right: 10px;
}
#mainContent #servicesLogin .columnLeft #loginSec {
    padding: 5px;
    margin-right: 10px;
    border: 1px #cccccc solid;
    width: 230px;
    height: 237px;
    margin-bottom: 25px;
    font-size: 12px;
}
#mainContent #servicesLogin .columnRight {
    width: 630px;
    position: relative;
    float: right;

}
#mainContent #servicesLogin .columnRight .left { position: relative;  float: left; }
#mainContent #servicesLogin .columnRight .left .title { font-size: 17px; font-weight: bold; text-align: center;}
#mainContent #servicesLogin .columnRight .left a { text-decoration: none; color: #3a88b6; }
#mainContent #servicesLogin .columnRight .right { position: relative; float: right; width: 210px; }
#mainContent #servicesLogin .columnRight .left  table { width: 410px; }
#mainContent #servicesLogin .columnRight .left  table td { text-align: center; vertical-align: bottom; font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 2px; padding-bottom: 6px;}
#mainContent #servicesLogin .columnRight .left  table td input[type="text"] { width: 280px; border: 1px #cccccc solid; padding: 5px; }
#mainContent #servicesLogin .columnRight .left  table td input[type="password"] { width: 280px; border: 1px #cccccc solid; padding: 5px; }
#mainContent #servicesLogin .columnRight .left  table td input[type="submit"] { color: #fff; background-color: #3986b4; border: 0px; padding: 3px; font-size: 11px; font-weight: bold;}
#mainContent #servicesLogin .columnRight .left table td ul li { display: inline; padding-right: 5px; }
#mainContent #servicesLogin .columnLeft #tab-container-1 {
    margin-top: 12px;
    margin-left: 5px;
}
#mainContent #servicesLogin .columnLeft #loginSec #tab-container-1 #tab-container-1-nav li {
    display: inline;
    border: 0px;
    padding-bottom: 5px;
    margin-right: -5px;
    padding-right: 17px;
    position: relative;
    z-index: 2;
}
#mainContent #servicesLogin .columnLeft #loginSec .active {
    border: 1px #cccccc solid;
    border-bottom: 0px;
    background-color: #fbfaf7;
}
#mainContent #servicesLogin .columnLeft #loginSec li.active a {
    color: #000;
}
#mainContent #servicesLogin .columnLeft #loginSec #tab-container-1 .tab {
    position: relative;
    top: 5px;
    z-index: 1;
    background-color: #fbfaf7;
    width: 205px;
    height: 155px;
    padding: 6px;
    border: 1px #cccccc solid;
}
#mainContent #servicesLogin .columnLeft #loginSec #tab-container-1 #tab-container-1-nav li a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #3a88b6;
    padding: 6px 6px 6px 6px;
}
#mainContent #servicesLogin .columnLeft #newsSec {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
#mainContent #servicesLogin .columnLeft #newsSec ul li { padding-bottom: 6px; }
#mainContent #servicesLogin .columnLeft #newsSec ul li.img { position: relative; float: left; height: 50px; width: 65px;}
#mainContent #servicesLogin .columnLeft #newsSec ul li.mainTitle { padding: 6px; padding-bottom: 20px; font-size: 13px; font-weight: bold; }
#mainContent #servicesLogin .columnLeft #newsSec ul li.newsTitle { font-weight: bold; padding-top: 3px; }
#mainContent #servicesLogin .columnLeft #newsSec ul { margin-bottom: 10px; position: relative; }
#mainContent #servicesLogin .columnLeft #newsSec ul li.noticia { color: #a6a6a6; }

#mainContent #servicesList { padding: 6px; }

#mainContent #servicesList ul { width: 270px; padding: 3px; position: relative; float: left; margin-right: 20px; }
#mainContent #servicesList ul li { padding-bottom: 6px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; }
#mainContent #servicesList ul li.newsTitle { font-weight: bold; }
#mainContent #servicesList ul li.newsTitle a { text-decoration: none; font-weight: bold; color: #000; }
#mainContent #servicesList ul li.noticia { color: #a6a6a6; }
#mainContent #servicesList ul li.img img { width: 270px; height: 110px; }

#rodape { width: 100%; background-color: #18639f; height: 300px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #fff; padding-top: 30px; margin-top: 30px; }

#rodape .left ul { margin-right: 30px; }
#rodape .left { position: relative; float: left; width: 350px;  text-align: center; }
#rodape .left ul li { padding-bottom: 4px; }
#rodape .right { position: relative; float: right; padding-top: 20px; text-align: left; width: 500px; height: 200px;}
#rodape .right ul li { padding-bottom: 5px; }
#rodape .right ul li ul li { display: inline; padding-right: 2px; color: #2f8fe8; padding-bottom: 8px;}
#rodape .right ul li ul li.title { padding-right: 50px; font-weight: bold; display: block; color:#fff;}
#rodape .right ul li ul li a { color: #fff; text-decoration: none;}

#mainContent #breadCumbs { position: relative; margin-bottom: 0px; top: -10px; width: 100%; }
.separator { position: relative; height: 27px; }
#mainContent #breadCumbs ul li { display: inline; padding-right: 5px; }
#mainContent #breadCumbs ul li a, #mainContent #breadCumbs ul li {   font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; color: #000; }

#mainContent #conteudoTexto { position: relative;  margin-bottom: 10px; width: 100%; }

#conteudoTexto .columnLeft p { width: 650px; text-align: justify;  }
#conteudoTexto .columnMiddle { width: auto; text-align: justify; margin: 0 auto;  }

.serviceSponsor { margin-top: 30px; }

/* dropdown */

* {padding:0; margin:0}
dl.dropdown { position: relative; float: left; }
.dropdown dt {padding-left: 30px; padding-right: 30px; border:0px solid #9ac1c9; width: auto; color: #0a6098; font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; cursor:pointer; background: transparent; margin-right:0px; text-align: center;}
.dropdown dt:hover {background: transparent;}
.dropdown dd {position:absolute; overflow:hidden; width:300px; display:none; background-color: #fff; color:#fff; z-index:200; opacity:0;margin-top: 15px; margin-left: 30px;}
.dropdown ul {width:300px; border-left:1px solid #9ac1c9; border-bottom:1px solid #9ac1c9; list-style:none; border-top:none;}
.dropdown ul li {display:inline;}
.dropdown dt img { position: relative; top: 7px; }
.dropdown a, .dropdown a:active, .dropdown a:visited {display:block; padding:10px; font-size: 11px; font-family: Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; background: transparent; width:194px; color:#0a6098; }
.dropdown a:hover {background-color: #0a6098;  color:#fff;}
.dropdown .underline {width: 300px; border-bottom:1px solid #b9d6dc;}

/* clearfix */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

#destaques div, #destaques div img { position: relative; }
#destaques div li.img { float: left; }

div#loginSec form {
    width: 180px;
    padding: 6px;
}
div#loginSec label {
    font-size: 12px;
    font-family: Arial;
}
div#loginSec input {
    margin-left: 2px;
}
div#loginSec input[type="text"], div#loginSec input[type="password"] {
    background-color: #dfdfdf;
    border: none;
    margin-left: -1px;
    margin-top: 2px;
    padding: 2px;
    width: 100%;
}
div#loginSec input[type="image"] {
    float: right;
    border: none;
}
table.telas_sistema { width: 800px; }
table.telas_sistema td img { width: 400px; height: 200px; }
table.telas_sistema th { padding-top: 15px; text-align: center;}
table.telas_sistema td{ width: 500px; text-align: justify; vertical-align: middle; padding-right: 30px; padding-top: 10px; }
.strong { font-weight: bold; }

#rodape .columnRight { width: auto; margin-right: 0px; margin-top: 30px; text-align: left; float: right; }
#rodape .columnLeft { margin-left: 50px; float: left;}
table.premios tr td { font-size: 11px; padding-right: 5px; text-align: center; padding-top: 5px; padding-bottom: 10px; }
table.premios tr td.maisPremios { text-align: right; padding-top: 10px; padding-bottom: 10px; border-bottom: thin #d7dedf solid; }
.rodape { text-align: center;  padding: 5px 0px 5px 0px;}
table.rodapeLinks tr td {padding: 0px 5px 5px 30px; color: #2f8fe6 }
table.rodapeLinks a { color: #fff; text-decoration: none;}

#contato input[type="text"], #contato textarea, #contato input[type="file"] { border: 1px #dfdfdf solid; margin: 6px 0px 0px 0px; width: 250px; padding: 3px;}
#contato input[type="file"] {border: 0px;}
#contato input[type="submit"] {
    margin-top: 10px;
    background: url("../images/ok.png") no-repeat;
    height: 25px;
    width: 35px;
    border: 0px
}