@charset "utf-8";
/* CSS Document */

/* includes */

@import url(reset.css);
@import url(clearfix.css);

/* global */

body{margin:0px auto;text-align:center;font-family:Tahoma, Geneva, sans-serif;overflow-x:hidden;background-color:#fff;}
body a{text-decoration:none;}
.wrapper{position:relative;margin:0px auto;width:1024px;text-align:left;}
.fundo_estatico{position:relative;z-index:1;}
.conteudo_estatico{position:absolute;z-index:200;}
.whitetext{color:#fff;}
.tinytext{font-size:11px;}
.boldertext{font-weight:bold;}
.darkbluetext{color:#215a94;}
.mediumtext{font-size:16px;}
.hugetext{font-size:26px;}
.yellowtext{color:#fdde02;}
.normaltext{font-weight:normal;}
h1{font-size:22px;}
h2{font-size:46px;}
.darkgraytext{color:#999;}
.dotted{border-bottom:1px #2a4159 dotted;}
.lightbluetext{color: #bbd0e6;}

/* corpo */

#topo{position:relative;width:100%;}
#topo #barra_atalho{position:relative;height:25px;width:100%;background-color:#215a94;}
#topo #barra_atalho .conteudo_estatico{padding-top:5px;}
#topo #barra_conteudo{position:relative;width:100%;height:160px;background:url("../images/cidade_topo.png") repeat-x;background-position:-40px 0px;}
#topo #barra_conteudo #logo{position:absolute;top:10px;left:0px;}
#topo #barra_conteudo #busca{position:absolute;left:250px;top:50px;width:800px;}
#topo table tr td{vertical-align:middle;}
#topo table#newsletter tr td{padding:3px 5px 5px 5px;}
#topo table#newsletter input[type="text"]{background-color:transparent;border:0px;font:bold 15px Tahoma, Geneva, sans-serif;width:160px;color:#fff;}
#topo table#newsletter input[type="submit"]{background:url("../images/enviar.png") no-repeat;height:39px;width:58px;border:0px;position:relative;top:-4px;}
#topo table tr td{padding-bottom:3px;}
#topo table tr td table tr td{vertical-align:top;}
#topo #menu{position:relative;width:100%;height:39px;background:url("../images/fundo_menu.png") repeat-x;}
#topo #menu table{height:40px;}
#topo #menu table tr td.menuLinks{height:40px;background:url("../images/capsula_menu.png") no-repeat;vertical-align:middle;padding-left:15px;padding-right:15px;}
#topo #menu table tr td.menuLinks input[type="text"],#topo #menu table tr td.menuLinks input[type="password"]{border:0px;background-color:#153c63;color:#fff;font:11px arial;padding:3px;}
#topo #menu table tr td ul{position:relative;top:-1px;line-height:13px;}
#topo #menu input[type="submit"]{background:url("../images/login.png") no-repeat;height:28px;width:58px;border:0px;}
#conteudo{position:relative;width:100%;background-color:#2a4159;height:auto;padding-bottom:10px;padding-top:10px;}
#conteudo .column{position:relative;float:left;width:auto;height:auto;margin-right:10px;}
#conteudo .floatingbox{position:relative;width:100%;height:auto;padding-top:5px;padding-bottom:15px;}
#conteudo #chamadaprincipal{position:relative;width:655px;height:130px;background:url("../images/chamada_principal.png") no-repeat;padding:8px;}
#conteudo #chamadaprincipal p{padding-top:2px;}
#conteudo #associar{position:relative;width:301px;height:377px;background:url("../images/fundo_associar.png") no-repeat;}
#conteudo #associar p{position:relative;top:10px;left:20px;padding-bottom:10px;}
#conteudo #associar input[type="text"]{width:95px;border:1px #CCC solid;}
#conteudo #associar table tr td{padding-left:30px;padding-bottom:4px;}
#conteudo #associar input[type="submit"]{width:198px;height:39px;border:0px;background:url("../images/botao_associar.png") no-repeat;}
#conteudo #flashbanner{position:relative;width:669px;height:231px;}
#conteudo #contador .conteudo_estatico{width:165px;text-align:center;position:absolute;bottom:20px;left:1px;}
#conteudo #contador .conteudo_estatico #contador_box{position:relative;width:100%;height:auto;text-align:center;}
#conteudo #contador .conteudo_estatico #contador_box table{width:100%;}
#conteudo #contador .conteudo_estatico #contador_conteudo{position:relative;width:100%;height:auto;top:10px;}
#conteudo .ofertaprincipal{position:relative;width:669px;height:auto;padding-bottom:5px;}
#conteudo .ofertaprincipal img{position:relative;}
#conteudo .ofertaprincipal .ofertaconteudo{position:relative;background-color:#fff;padding:10px;}
#conteudo .ofertaprincipal .infoconteudo{position:relative;background:url("../images/fundo_infoOferta.png") repeat-y;padding:10px;}
#conteudo .ofertaprincipal .infoconteudo p{width:425px;padding-right:10px;}
#conteudo .ofertaprincipal .googlemaps tr td{padding-top:5px;}
#conteudo .ofertaprincipal #flashpreco{position:relative;width:175px;height:419px;top:-23px;}
#conteudo .ofertaprincipal .ofertaprincipal_titulo{width:450px;}
#conteudo .ofertaprincipal .ofertaprincipal_imagem{position:relative;padding:10px;}
#conteudo .ofertaprincipal .ofertaprincipal_descr{width:450px;}
#conteudo #adbanners table{width:100%;}
#conteudo #adbanners table tr td{vertical-align:middle;text-align:center;}
#conteudo .minioferta{position:relative;width:299px;height:auto;padding-bottom:10px;}
#conteudo .minioferta .minioferta_conteudo{position:relative;background-color:#fafafa;padding:6px;}
#conteudo .minioferta .preco{font:bold 38px arial;}
#conteudo .minioferta .btncomprar{position:relative;top:7px;}
#conteudo .minioferta table{position:relative;margin-bottom:5px;}
#conteudo .minioferta table tr td{height:auto;vertical-align:top;padding-top:5px;padding-bottom:10px;}
#rodape{position:relative;width:100%;height:526px;background:url("../images/fundo_rodape.png") #fff 0px -1px repeat-x;}
#rodape ul{position:relative;float:left;top:20px;margin-right:50px;}
#rodape ul li{line-height:16px;}
#rodape .floatingbox{min-height:310px !important;}
#rodape p{width:320px;}
#rodape #seguir{width:124px;height:36px;background:url("../images/fundo_siga.png") no-repeat 50px 0px;}
#rodape table tr td{vertical-align:middle;text-align:center;padding-bottom:5px;}
#rodape #seguir img{position:relative;top:3px;}
#rodape .rodapefooter{position:absolute;bottom:100px;left:80px;}
#rodape .rodapefooter .footermenu{position:relative;top:0px;}
#flashpreco .conteudo_estatico{top:170px;left:0px;}
#navegacao{position:relative;width:1000px;margin-left:2px;margin-top:0px;min-height:100px;background-color:#fff; padding:10px;}
img.navborder{width:100%;}

