@CHARSET "ISO-8859-1";

#logo{
	padding-top: 20px; 
	padding-left: 40px;
}
#menu-header{
	padding:20px 40px 20px 0px;
}
.menu-header a{
	font:bold 20px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.submenu,.submenu a{
	color:#666;
}
#menu{
	margin-left:-170px;
	min-height:768px;
	background-color:#0097da;
}
.mborda{margin-top:-11px;}
.menu{
	background-color:#0097da;
	text-align:right;
	padding-top:20px;
	min-height:1280px;
	padding-bottom:30px;
}
.menu a{
	color:#fff;
}
.menu h2{
	border-bottom:1px #0087c3 solid;
	padding:5px;
	color:#fff;
	padding-right:15px;
	font:normal 15px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
/*
.CollapsiblePanelOpen .CollapsiblePanelTab h2{
	font:15px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
*/

/* 2 arvores */

.CollapsiblePanelClosed .CollapsiblePanelTab h2{
	font:normal 15px Verdana, Geneva, Arial, Helvetica, sans-serif;	
}
.CollapsiblePanelOpen .CollapsiblePanelTab h2.mainLink{
	font:normal 15px Verdana, Geneva, Arial, Helvetica, sans-serif;	
}
.CollapsiblePanelOpen .CollapsiblePanelContent .CollapsiblePanelClosed h2.mainLink{
	border-bottom:0;
}
.CollapsiblePanelOpen .CollapsiblePanelContent .CollapsiblePanelOpen h2.mainLink{
	/* font-weight:bold; */
}
.CollapsiblePanelOpen .CollapsiblePanelContent h2,.CollapsiblePanelOpen .CollapsiblePanelContent h2.mainLink{
	font-weight:normal;
}
.CollapsiblePanelOpen .CollapsiblePanelContent h2{
	
}
h2.edinfantil{
	border-right:8px #8cc63f solid;
}
.CollapsiblePanelOpen h2.edinfantil{
	background-color:#8cc63f;
	border-right:0;
}
h2.ensifundamental{
	border-right:8px #ec50df solid;
}
.CollapsiblePanelOpen h2.ensifundamental{
	background-color:#ec50df;
	border-right:0;
}
h2.ensimedio{
	border-right:8px #f78b15 solid;
}
.CollapsiblePanelOpen h2.ensimedio{
	background-color:#f78b15;
	border-right:0;
}
h2.ensfundamental1{
	border-right:8px #e984e1 solid;
	}
.CollapsiblePanelOpen .CollapsiblePanelContent .CollapsiblePanelOpen  h2.ensfundamental1{
	background-color:#e984e1;
	border-right:0;
}
h2.ensfundamental2{
	border-right:8px #d276ca solid;
	}
.CollapsiblePanelOpen .CollapsiblePanelContent .CollapsiblePanelOpen h2.ensfundamental2{
	background-color:#d276ca;
	border-right:0;
}
/* 2++ arvores */

.CollapsiblePanelOpen .CollapsiblePanelContent .CollapsiblePanelOpen .CollapsiblePanelContent .CollapsiblePanelClosed h2.mainLink {
	font-weight:normal;
	border-bottom:1px #0087c3 solid;
	border-top:0;
} 

#conteudo{
	width:100%;
}
.conteudo{
	max-width:690px;
	padding-left:35px;
}
#footer{
	background-color:#067db2;
	height:120px;
	text-align:left;
	color:#fff;
	padding-right:10px;	
}
#footer a{color:#fff;}
.copyright{
	padding-top:10px;
}

/* collapse */

.SemNivel {
	margin: 0px;
	padding: 0px;
}
.CollapsiblePanel {
	margin: 0px;
	padding: 0px;

}
.CollapsiblePanelTab {
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
}

.CollapsiblePanelContent {
	margin: 0px;
	padding: 0px;
}
 
#imageContainer {
	position:relative;
	margin:auto;
	width:450px;
	height:144px;
}
#imageContainer img {
	display:none;
	position:absolute;
	top:0; left:0;
	width:450px;

}	
.chamada-flutuante{
	
}
.chamada-conteudo{
	padding-top:15px;
}
.chamada-conteudo-video{
	padding-top:60px;
}
.chamada-conteudo img{
	width:230px;
}
.dotted{border-bottom:1px #ccc dotted;padding-bottom:30px;}
.nav-banner,.nav-banner img{width: 690px;}
p.paragrafo-conteudo{text-align:justify;}
.miniTable{width:350px;}
.miniTable tr td{padding:5px;color:#fff;}
.miniTable .color1{background-color:#0097da;}
.miniTable .color2{background-color:#0e75a2;}
.miniTable .color3{background-color:#377a98;}
.formulario{max-width:250px;}
.formulario tr td{padding-bottom:5px;}
.formulario input[type="text"],input[type="password"],#itelefone,#icpf,#icep,textarea{
	padding:5px;
	border:1px #ccc solid;
	width:250px;
}
.graybox{
	background-color:#43424b;
	color:#fff;
	padding:5px;
}
.bluebox{
	background-color:#0097da;
	color:#fff;
	padding:5px;
}
.webmail-caixa{
	font:normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#666;
}
.webmail-caixa input[type="text"],.webmail-caixa input[type="password"]{
	border:1px #ccc solid;
	padding:0;
	width:100px;
}
.powered{
	padding-top:25px;
}

