@CHARSET "ISO-8859-1";

#conteudo{
    background: url("../img/fundo.gif") #1C8FC9 0 0 no-repeat;;
    border-radius: 10px 10px;
    box-shadow: 0 -3px 0 #1B85BB;
    height: 587px;
    margin: 10px auto;
    width: 894px;
    padding-right:10px;
    padding-left:45px;
}
#logo{
	width:165px;
	height:165px;
	background: url("../img/logo.gif") 0 0 no-repeat;
	margin:55px 0;
}
.white-block{
	background: #fff;
    border-radius: 10px 10px;
    box-shadow: 0 -3px 0 #f6f5f5;
    height: 510px;
    width: 695px;
    margin: 20px 0;
}
.gray-block{
	background:#f9f9f9;
    border-radius: 5px 0px 0px 5px;
	margin:20px 0;
    padding:5px 30px 5px 30px;
}
.informe{
	text-align:right;
	padding:0 10px;
}
.erro-box{
	padding:50px 0;
}

/* textos */

.white{color:#fff;}
.blue{color:#2ca4e0;}
.red{color:#b7263b;}