@charset "utf-8";
/* CSS Document */

/* includes */

@import url(reset.css);

/* global */

*{
    margin:0px;
    padding:0px;
}
htm,body{
    margin:0px auto;
    text-align:center;
    overflow-x:hidden;
    font:12px Verdana, Geneva, Arial, Helvetica, sans-serif;
    height:100%;
}
.wrapper-holder{
    width:100%;
    height: auto;
}
.wrapper{
    width:1024px;
    margin:0px auto;
    text-align:left;
}
a{text-decoration:none;}
button{cursor:pointer;}
.inline li{display:inline;padding-bottom:5px;}
.b{display:block;}
.c{clear:both;}
.l{float:left;}
.r{float:right;}
.p{padding:20px;}
.p3{padding:3px;}
.p5{padding:5px;}
.disabled{display:none;}


/* text */

.bolder{font-weight:bold;}
.whiteText{color:#fff;}
.redText{color:#f24444;}
.orangeText{color:#f78b15;}
.maxSize{font-size:18px;}
.subTitle{
    font-size:16px;
    text-transform:capitalize;
    color:#666;
}
.tinySize{font-size:10px;}
.grayText{color:#666;}
.blueText{color:#3a5280;}

/* sprites */

.sprite{background:url("../img/sprites/sprite.gif") no-repeat;}
.sprite-x{background:url("../img/sprites/sprite-x.gif") repeat-x;}
.sprite-y{background:url("../img/sprites/sprite-y.gif") no-repeat;}
.minha_conta{
    background-position:-13px -12px;
    min-width:20px;
    height:20px;

}
.envelope{
    background-position:-13px -53px;
    min-width:20px;
    height:20px;
}
.redAdvice{
    background-position:-52px -12px;
    min-width:20px;
    height:20px;
}
.pizzaGraph{
    background-position:-93px -12px;
    min-width:20px;
    height:20px;
}
.add{
    background-position:-138px -13px;
    min-width:20px;
    height:20px;
}
.lupa{
    background-position:-160px -10px;
    height: 20px; 
    width: 40px; 

    background-color:#fff;
}
.orangeAdvice{
    background-position:-52px -53px;
    min-width:20px;
    height:20px;
}
.grayArrow{
    background-position:-140px -98px;
    min-width:15px;
    height: 15px;
    margin-top: 3px;
}
.view{
    background-position:-218px -53px;
    min-width:15px;
    height: 18px;	
}
.delete{
    background-position:-135px -54px;
    min-width:18px;
    height: 18px;	
}
.config{
    background-position:-218px -12px;
    min-width:15px;
    height: 18px;		
}
.ortograph{
    background-position:-129px -135px;
    min-width:40px;
    height:20px;
}
.confirm{
    background-position:-135px -176px;
    min-width:20px;
    height:20px;
}
.typing{
    background-position:-83px -42px;
    min-width:40px;
    height:40px;	
}
.desactivated{
    background-position:-53px -217px;
    min-width:20px;
    height:20px;
}
.activated{
    background-position:-52px -135px;
    min-width:20px;
    height:20px;	
}
.naoPago{
    background-position:-52px -94px;
    min-width:20px;
    height:20px;	
}
.entregue{
    background-position:-50px -176px;
    min-width:20px;
    height:20px;	
}

/* corpo */

#main-header{
    width:auto;
    height:auto;
}
#main-content{
    width:100% !important;
    height:auto !important;
}
#topBar{
    height:36px;
    background:#314975;
    color:#fff;
}
#loggedAvatar{
    width:18px;
    height:18px;
}
#loggedAvatar img{width:18px;}
#navHolder{min-height:768px;}

/* pageHeader */

#pageHeader,#pageHeader a{color:#666;}

/* searchBar */

#searchBar{
    height:39px;
    width:100%;
    background-color:#f0f0f0;	
}
#searchBar table{
    height: auto;
    margin-top: 5px;
}
#searchBar table tr td{
    height: auto; 
    vertical-align:middle;
    text-align:right;
    padding:5px;
    background-color:#fff;
}
#searchBar input[type="text"]{
    border:0;
    width:176px;
    font:italic 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    color:#666;
}

/* login */

#loginSection{
    background-color:#f0f0f0;
    height:310px;
    border-top:4px #e4e4e4 solid;
    border-bottom:1px #e4e4e4 solid;
}
.loginWrapper{
    width:368px;
    margin:0px auto;
    text-align:left;
    padding-top:40px;
}
#loginSection input[type="text"],#loginSection input[type="password"]{
    border: 0px; 
    width: 356px; 
    padding: 10px 5px;
    border:1px #666 solid;
    cursor:pointer;
}
#loginSection input[type="text"]:focus,#loginSection input[type="password"]:focus{
    border:1px orange solid;
}

/* detalhes */

#entryInfoHolder{
    width: 715px;
}
.entryInfo{
    max-width:330px;
    padding-right:30px;
    padding-bottom:20px;
}
.obs{	
    border-top:6px #e4e4e4 solid;
}

/* switch theme */

#switchTheme{
    height:30px;
}
#switchTheme a{
    color:#666;
}

/* nav projects */

select{
    height: 18px; 
    border: 0px;
}

/* organizer */

#organizerModule a{color:#666;}

/* main menu */

#mainMenu{
    height:auto;
    background-position:0px 0px;
    color:#fff;
}
#mainMenu .inline{
    padding-top:0;
    height:39px;
}
#mainMenu .inline li .inline{
    padding-top: 10px; 
    height: 29px;
}
#mainMenu .inline li .mainLink{
    width:auto;
    height:13px;
    vertical-align:middle;
    border-right:1px #2e4169 solid;
    padding:17px 15px 9px 15px;
    margin-left:-3px;
}
#mainMenu .inline li .mainLink:hover{
    cursor:pointer;
    background:url("../img/sprites/sprite-x.png") 0px -39px repeat-x;
    color:#ffff2c;
}
#mainMenu .mainLink{
    color:#fff;
    font-size:11px;
}

/* sub main menu */

.subMainMenu{
    position:absolute;
    margin-top:39px;
    width: 100%;
    background-color:#e8852d;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    z-index:999; 
    margin-left: -447px;
    padding-left: 449px;
    display:none;

}
.subMainMenu li{
    padding-left:9px;
}
.subMainMenu a{
    color:#ffff2c;
}
.subMainMenu a:hover{
    color:#fff;
}
.aSub:hover .subMainMenu{
    display:block;
}

/* listas */

table.listagem{
    width:100%;
    color:#000;
}
table.listagem tr td{
    height:39px;
    vertical-align:middle;
    padding:0px 5px 0px 5px;
}
table.listagem tr.post{
    border-bottom:1px #ccc solid;
    color:#666;
}
table.boletim{
	width:100%;
	color:#666;
}


.prodThumb{
    width:25px;
    height:25px;
}
.prodThumb img{
    width:25px;
    height:25px;	
}
table.listagem tr td.space{
    width:139px;
}
.boletim{
	width:100%;
	color:#666;
}
table.boletim tr.titulo td{text-align:center;width:1024px;vertical-align:middle;}
table.boletim tr.titulo td.left{text-align:left;}
table.boletim tr.titulo td.right{text-align:right;}
table.horario tr td{padding-bottom:5px;padding-top:5px;padding-right:3px;}
td.color2{background-color:#374f7d;color:#fff;border-bottom:1px #fff solid;border-right:1px #fff solid;}

/* cameras */

.cameras{width:320px;}
 
/* galeria */

#galeria{
    width:305px;
    height:auto;
}
#galeriaMaxPic{
    width:305px;
    height:auto;
}
#galeriaMaxPic img{
    width:305px;
    height:305px;
}
#galeriaPicRow .rowPic img{
    width:105px;

}

/* cadastros */


.cadastroForm select{
    width:50px;
    height:24px;
    border:1px #ccc solid;
    padding:3px;
    margin-left:3px;
}
.cadastroForm input[type="text"],.cadastroForm input[type="file"],.cadastroForm input[type="password"]{
    width:200px;
    border:1px #ccc solid;
    padding:3px;
    color:#666;
    cursor:pointer;
}

.cadastroForm input[type="text"]:focus{
    border:1px orange solid;
}
.fileAdvice{
    width:290px;
}
textarea.descr{
    width: 900px; height: 90px;
    color:#666;
    font:italic 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
    border:1px #ccc solid;
    cursor:pointer;
}
textarea.descr:focus{
    border:1px orange solid;
}
.typingIcoHolder{
    padding-top: 40px; 
    padding-left: 30px; 
    padding-right: 10px;}

/* status pedido */

.statusContent{text-align:center;}
.status1{z-index:3;position:relative;}
.status2{position:relative;margin-left:-60px;z-index:2;}
.status3{position:relative;margin-left:-60px;z-index:1;}
#statusSelect #naoPago{
    padding-top: 46px; 
    height: 66px; 
    width: 172px;
    cursor:pointer;
}
#statusSelect #naoPago:hover{
    background-position:0px -111px;color:#b01515;
}
#statusSelect #pago{
    padding-top: 46px;
    padding-left:32px;  
    height: 66px; 
    width: 144px; 
    cursor:pointer;
}
#statusSelect #pago:hover{
    background-position:0px -223px;color:#5c9d3a;
}

#statusSelect #enviado{
    padding-top: 46px;  
    padding-left:40px;
    height: 66px; 
    width: 133px;
    cursor:pointer;
}
#statusSelect #enviado:hover{
    background-position:0px -335px;color:#b4aa33;
}

/* classes pra ativar e desativar status */

.statusDesactivated{background-position:0px 1px;color:#666;}
.status1activated{background-position:0px -111px;color:#b01515;}
.status2activated{background-position:0px -223px;color:#5c9d3a;}
.status3activated{background-position:0px -335px;color:#b4aa33;}


/* facebook app */

iframe.facebook{
    width:300px;
    overflow:hidden;
    height:27px;
}

/* matriculaInfo */

#matriculaInfo{text-align:right;padding-top:15px;}
#matriculaInfo,#matriculaInfo a{color:#666;}
#matriculaInfo .maxSize {font-size:15px;}

/* breadcrumb */

#breadcrumb,#breadcrumb a{color:#666;}

/* paginacao */ 

.paginacao-holder{
    height:39px;
    width:100%;
    background-color:#f0f0f0;
}
.paginacao{
    padding:10px 10px 0px 0px;
}
.paginacao a{
    color:#666;
    padding:2px 5px 2px 5px;
}
.paginacao a:hover,.paginacao a.active{
    background-color:#666;
    color:#fff;
}
.paginacao a.noBg{
    background:none;
}
.paginacao a.noBg:hover{
    color:#848484;
}

/* pageFooter */

#pageFooterHolder{
    height:39px;
    width:100%;
    background-color:#f0f0f0;
}
.pageFooterLink {
    background-color:none;
    color:#666;
    height:27px;
    padding:12px 6px 0px 6px;
    cursor:pointer;
}
.pageFooterLink a{
    color:#666;
}
.pageFooterLink:hover{
    background-color:#fff;
}

/* footer */

#footer{

    bottom:0;
    min-height:90px;
    text-align:left;
    background-color:#f1f1f1;
    color:#666;
    font-size:11px;
}
#footer .inline{
    width:420px;
    line-height:13px;
}
#footer a{
    color:#666;
}




