@charset "utf-8";
/* CSS Document */

/* includes */

@import url("reset.css");
@import url("dimitri.css");
@import url("galleria.classic.css");

/* global */

*{
    margin:0px;
    padding:0px;
}
htm,body{
    margin:0px auto;
    text-align:center;
    overflow-x:hidden;
    font:12px Verdana, Geneva, Arial, Helvetica, sans-serif;
    height:100%;
}
#wrapper{
    width:1024px;
    margin:0px 0px;
    text-align:left;
}
.wrapper{
    width:1024px;
    margin:0px 0px;
    text-align:left;
}
a{text-decoration:none;color:#000;}
button{cursor:pointer;border:0;}
.inline li{display:inline;padding-bottom:5px;}
.b{display:block;}
.c{clear:both;}
.l{float:left;}
.r{float:right;}
.p{padding:20px;}
.p3{padding:3px;}
.p5{padding:5px;}
.disabled{display:none;}
hr{border:1px #ccc solid;}


/* text */

.whiteText{color:#fff;}
.redText{color:#f24444;}
.blueText{color:#0a8fe8;}
.whiteText{color:#fff;}
.orangeText{color:#f78b15;}
.maxSize{font-size:18px;}
.grayText{color:#666;}
.greenText{color:#8cc63f;}
.tinySize{font-size:10px;}
h1{font:normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;}
h2{font:normal 18px Verdana, Geneva, Arial, Helvetica, sans-serif;}
h3{font:normal 22px Verdana, Geneva, Arial, Helvetica, sans-serif;}


/* sprites */

.sprite{background:url("../img/sprites/sprite.gif") no-repeat;}
.sprite-y{
	background:url("../img/sprites/sprite-y.gif") no-repeat;
	width:28px;
}
.sprite-x{background:url("../img/sprites/sprite-x.gif") repeat-x;}
.multimidia-icon{    
	background-position:-25px 0;    
	width:26px;    
	height:18px;
	}
.balao{
	position:absolute;
	margin-left: -5px;
	}
.balao1{
	background-position:-380px -18px;    
	display:table-cell;    
	vertical-align:middle;    
	text-align:center;
	padding: 12px 18px 21px 17px;
	color:#fff;
	}
.balao2{
	background-position:-495px -18px;    
	display:table-cell;    
	vertical-align:middle;    
	text-align:center;
	padding: 12px 26px 21px 21px;
	color:#fff;
}
.balao3{
	background-position:-301px -74px;    
	display:table-cell;    
	vertical-align:middle;    
	line-height:45px;    
	text-align:center;    
	width:300px;    
	height:44px;
	color:#fff;
	padding-top:12px;
	}
.balao4{
	background-position:-301px -130px;    
	display:table-cell;    
	vertical-align:middle;    
	line-height:45px;    
	text-align:center;    
	padding: 12px 52px 21px 52px;
	color:#fff;
	}
.busca{
	background-position: 0 0;
	border:0;
	width:25px;
	height:18px;
}
.minha_conta{
    background-position:-13px -12px;
    min-width:20px;
    height:20px;

}
.envelope{
    background-position:-13px -53px;
    min-width:20px;
    height:20px;
}
.redAdvice{
    background-position:-52px -12px;
    min-width:20px;
    height:20px;
}
.pizzaGraph{
    background-position:-93px -12px;
    min-width:20px;
    height:20px;
}
.add{
    background-position:-138px -13px;
    min-width:20px;
    height:20px;
}
.lupa{
    background-position:-160px -10px;
    height: 20px; 
    width: 40px; 

    background-color:#fff;
}
.orangeAdvice{
    background-position:-52px -53px;
    min-width:20px;
    height:20px;
}
.grayArrow{
    background-position:-140px -98px;
    min-width:15px;
    height: 15px;
    margin-top: 3px;
}
.view{
    background-position:-218px -53px;
    min-width:15px;
    height: 18px;	
}
.delete{
    background-position:-135px -54px;
    min-width:18px;
    height: 18px;	
}
.config{
    background-position:-218px -12px;
    min-width:15px;
    height: 18px;		
}
.ortograph{
    background-position:-129px -135px;
    min-width:40px;
    height:20px;
}
.confirm{
    background-position:-135px -176px;
    min-width:20px;
    height:20px;
}
.typing{
    background-position:-83px -42px;
    min-width:40px;
    height:40px;	
}
.desactivated{
    background-position:-53px -217px;
    min-width:20px;
    height:20px;
}
.activated{
    background-position:-52px -135px;
    min-width:20px;
    height:20px;	
}
.naoPago{
    background-position:-52px -94px;
    min-width:20px;
    height:20px;	
}
.entregue{
    background-position:-50px -176px;
    min-width:20px;
    height:20px;	
}
.submit{
    background-position:-175px -52px;
    min-width:20px;
    height:20px;
}
.facebook,.twitter,.rss,.vimeo,.youtube,.wp{
	width:28px;
	height:25px;
}
.twitter{background-position:-0 -25px;}
.rss{background-position:-0 -127px;}
.vimeo{background-position:-0 -77px;}
.youtube{background-position:-0 -102px;}
.wp{background-position:-0 -51px;}
.headerMenuSeta{
	background-position:-179px -95px;
	width:11px;
	height:15px;
	margin: 0px 3px 0px 3px;
}
.headerMenuSetaRed{
	background-position:-190px -95px;
	width:11px;
	height:15px;
	margin: 0px 3px 0px 3px;
}
.comprar{
	width:81px;
	height:27px;
	background:url("../img/comprar.gif") no-repeat;
}
.slideEsquerda,.slideDireita{
	width:22px;
	height:40px;
	margin-top:50px;
}
.slideEsquerda{
	background-position:-173px -165px;	
}
.slideDireita{
	background-position:-176px -124px;	
}
.redSub{
	background-position:-178px -218px;	
	width:18px;
	height:18px;
	border:1px #000 solid;
}
.star{
	background-position:-91px -91px;	
	width:29px;
	height:25px;
}
.happyface{
	background-position:-93px -133px;	
	width:25px;
	height:25px;	
}
.sadface{
	background-position:-93px -175px;	
	width:25px;
	height:25px;
}
.sadstar{
	background-position:-93px -213px;	
	width:29px;
	height:25px;
}
.ok{
	background-position:0 0;
	width:25px;
	height:20px;
}
