@CHARSET "ISO-8859-1";

.topbar{
	padding:6px;
	background:#eb0184;
	color:#fff;
}
.topbar a{
	color:#fff;
}
.home{
	width:143px;
	height:14px;
	background:url("../img/home.gif") no-repeat;
	margin:6px 0;
}
.like{
	height:0px;
}
.twitter{
	padding: 3px 0 0 0; 
	width: 210px;
}
.logo{
	width:290px;
	height:130px;
	background:url("../img/logo.gif") 0px 0px no-repeat;
}
.header{
	padding:10px 0 10px 0;
}
.menu{
	width:1000px;
	height:128px;
	background:url("../img/menu.gif") no-repeat;
}
.menu_item{
	font:normal 34px Impact;
	text-transform:uppercase;
	color:#fff;
	border-right:1px #1548a0 solid;
	padding: 11px 30px 10px 30px;
}
.menu_item a{
	color:#fff;
}
#conteudo{
	width:1328px;
	min-height:994px;
	background:url("../img/fundo.gif") no-repeat scroll -35px 0 transparent;
	margin:0px auto;
	padding-bottom:30px;
}
#conteudo .wrapper{
	width:963px;
}
#FlabellComponent{
	margin-top:-55px;
	padding-bottom:5px;
}
.blbox{
	background:#1d1d1d;
	-moz-box-shadow: 0 -2px 0 #272727;
	-webkit-box-shadow: 0 -2px 0 #272727;
	box-shadow: 0 -2px 0 #272727;
}
.enqt{
	width:261px;
	height:auto;
	padding:20px;
	color:#fff;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.enqt a{
	color:#fff;
}
.tit{
	text-transform:uppercase;
}
.dotted{
	border-bottom:1px #000 dotted;
	padding-bottom:5px;
}
.enqt .vot-link{
	text-transform:uppercase;
	padding:5px 8px 5px 8px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.formulario tr td{
	padding:0 0 8px 0;
}
.rdbox{
	background:#bb0e0e;
	-moz-box-shadow: 0 -2px 0 #980f0f;
	-webkit-box-shadow: 0 -2px 0 #980f0f;
	box-shadow: 0 -2px 0 #980f0f;
}
.pds-pd-link{display:none;}
.opec-position{
	width:300px;
	overflow:hidden;
	height:250px;
}
.pub_row{
	height:105px;
	width:100%;
}
.pub_row td{
	vertical-align:middle;
	text-align:center;
	padding:0 0 0 15px;
}
.footer-menu,.footer-menu a,.footer-menu .tit-link:hover{
	color:#fff;
}
.footer-menu tr td{
	vertical-align:top;
	padding:0 0 0 50px;
}
.footer-menu .tit-link{
	color:#666666;
	text-transform:uppercase;
	font-weight:bold;
}
.footer-menu ul li a{
	text-transform:capitalize;
}
.social_row tr td{
	vertical-align:middle;
	padding:0 0 0 20px;
}
.conteudo{
	background:#fff;
	border:10px #efefef solid;
	margin:-55px 0 0 0;
	min-height:994px;
	padding:20px;
}
.comments{
	padding-right:3px;
}
.ingressos-count-box{
	width:440px;
	margin:0px auto;
	text-align:center;
	font:bold 60px Impact;
	padding-top:40px;
	color:#eb0184;
	text-shadow: #d60178 0 -3px 0;
}
.ingressos-count ul li{
	background:#000;
	padding:0px 20px 0px 20px;
	color:#fff;
	text-shadow: #e8e8e8 1px -1px 0;
	background:url("../img/count-fundo.gif") #000 repeat-x;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.preco-aviso{
	font:normal 22px arial;
	text-shadow: 0 0 0;
	color:#d60178;
}
.green{
	color:#bceb01;
}
.formulario{
	
}
.formulario tr td{
	padding-right:8px;
	padding-bottom:8px;
	vertical-align:middle;
	font-size:20px;
}
.formulario tr td.label{
	text-align:right;
}
.formulario tr td input[type="text"],.formulario textarea{
	padding:20px;
	width:400px;
	background:#fff;
	color:#666;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 1px 2px 0px #EAEAEA;
	-webkit-box-shadow: 1px 2px 0px #EAEAEA;
	box-shadow: 1px 2px 0px #EAEAEA;
	border:1px #eaeaea solid;
	cursor:pointer;
	font-size:18px;
}
.formulario textarea{
	height:100px;
	font-size:13px;
	padding:8;
	width:400px;
}
.formulario tr td input[type="text"]:hover,.formulario textarea:hover{
	border:1px #e8d49f solid;
}
.formulario a.rdbox{
	color:#fff;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding:8px;
}