@charset "utf-8";
/* CSS Document */

/* includes */

@import url(reset.css);

/* global */

*{
    margin:0px;
    padding:0px;
}
htm,body{
    margin:0px auto;
    text-align:center;
    font:normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;

}
body a{color:#000;}
body{overflow-x:hidden;}
#wrapper{
    margin:0px auto;
    text-align:left;
    width:1024px;
}
a{text-decoration:none;}
button{cursor:pointer;}


.b{display:block;}
.c{clear:both;}
.l{float:left;}
.r{float:right;}
.p{padding:20px;}
.p5{padding:5px;}
h3{font:normal 16px Tahoma;}
h2{font:normal 12px Tahoma;}
p{font:normal 11px Tahoma;}
.minor{font-size:10px;}
.maxSize{font-size:20px;}
.sup{font-size:10px;}

/* sprites */

.sprite_duchao{
    background:url(../img/sprite_duchao.png) 0px 0px no-repeat;
}
.marcador-menu{
    background-position:-18px -27px;
    padding: 0px 5px 0px 4px;
}
.seta{
    background-position:0px -24px;
    padding: 0px 5px 0px 4px;	
    margin:0 5px 0 0;
}
.dot{
    background-position:-32px -21px;
    padding: 0px 5px 0px 4px;	
}
.ok{
    background-position:-189px -0px;
    padding:10px;
    border:0;		
    height: 23px; width: 25px;
}
.banner-titulo{
    background-position:-0px -44px;
    height:54px;
    width:320px;
}
.detalhesbtn{
    background-position:-213px -0px;
    border:0;		
    height: 28px; 
    width: 120px;	
    padding-left:5px;
}
.comprar{
    background-position:-335px -0px;
    border:0;		
    height: 28px; 
    width: 115px;	

}
.buscar{
    width:26px;
    height:22px;
    background-position:-154px -0px;
    border:0;	
}

/* corpo */

#main-header{
    width:1024px;
    height:120px;
    padding:0 0 60px 0;
}
#main-header #main-header-shortcuts{
    width:1024px;
    height:40px;
}
#main-header #main-header-content{
    width:1024px;
    height:auto;
}
#main-content-header{padding-bottom:50px;}
#logo{
    padding:0 0 0 25px;
}
.logo-holder{
    width:100%;
}
.shortcuts-menu{
    padding:10px 10px 14px 0;
    font:normal 10px Tahoma;
    color:#666;
}
.shortcuts-menu a{
    text-decoration:none;
    color:#666;
    text-transform:uppercase;
}
.shortcuts-menu li{
    display:inline;
    padding-left:5px;
}
.campo-busca{
    padding:7px 0 8px 0;
}
#main-header-menu{
    width:100%;
    padding:40px 0 0 0;
}
#main-header-menu ul li{
    display:inline;
    padding:0 15px 0 15px;
}
#main-header-menu a{
    font:normal 16px Arial Black;
    text-decoration:none;
    color:#d60006;
    text-transform:uppercase;
}

.campo-busca input[type="text"]{
    background-position:0px 0px;
    width:135px;
    height:20px;
    border:0px;
    padding:0 5px 0 5px;
}
.campo-busca button{
    width:28px;
    height: 25px;
    background-position:-153px 0px;
    border:0px;
}
.main-content-capa{
    display:block;
    float:left;
    width:637px;
    height:303px;
}
.main-content-capa img{
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.main-content-search{
    display:block;
    float:right;
    width:380px;
    height:303px;
    background-color:#000;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#logo-mini{
    width:145px;
    padding-top:10px;
}
.main-content-search-text{
    width:190px;
    color:#fff;
    text-align:left;
}
.main-content-search h3{font-weight:bold;}
.main-content-search h2{color:red;font-weight:bold;}
.main-content-search .innerbox{
    height: 195px; 
    width: 354px;
    margin:0 0 0 6px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#fff;
    padding:10px 5px 0 10px;
}
.main-content-search .innerbox .b{
    margin:0 5px 0 0;
}
.innerbox-text{
    width:330px;
}
.content-holder{width:745px;padding:0 0 0 20px;}
.banner-titulo h2.titulos{font-weight:bold;color:#fff;text-transform:uppercase;padding:35px 0 0 5px;}
.content-holder .b .b .b .b a{font:bold 11px Tahoma;color:#000;text-decoration:none;}
.content-holder .b .b .b{padding:0 0 5px 0;}
.content-holder .b .b{padding-bottom:40px;}
#noticias-holder,#tags-holder{width:320px;}
#propagandas-holder{width:250px;}
#noticias-holder #headline{border-bottom:1px #ccc dotted;}
#noticias-holder a{font-weight:bold;}
#noticias-holder .b{padding:3px 0 2px 0; font:normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;}

/* paginacao */

.paginacao li{display:inline;}
.paginacao-footer{padding-left:325px;width:330px;text-align:center;font:normal 11px Tahoma;color:#f6be05;}
.paginacao-footer a{font:normal 11px Tahoma;color:#106933;text-decoration:none;}
.paginacao-footer ul li{display:inline;}
a.copyright{color:#106933;font-weight:bold;}

/* destaques hover */

#destaques .destaque-cap .hover{display:none;position:absolute;}
#destaques .destaque-cap{cursor:pointer;}
#destaques #destaque1:hover .hover{display:block;}
#destaques #destaque2:hover .hover{display:block;}

/* facebook app */

.facebook-app1 iframe{border:none; width:360px; height:25px;margin:10px 0px;}

/* tags */

#tags-holder .b .b{padding:0 10px 0 10px;}
#tags-holder a.tag-estilo-1{font:normal 20px tahoma;}
#tags-holder a.tag-estilo-2{font:normal 16px tahoma;}
#tags-holder a.tag-estilo-3{font:normal 11px tahoma;}

/* forms cadastro */
#pessoafis-form,#comerciante-form{
    position:absolute;margin:-190px -10px;
    display:none;
    background-color:#000;
    position:absolute;
    margin-top: -177px; 
    width: 369px; 
    margin-left: -10px; 
    height: 205px;
    font:normal 11px Tahoma;
    color:#fff;
    overflow:hidden;
}
.encomenda-form a,.encomenda-form a{
    font:normal 11px Tahoma;
    color:#fff;
}
.encomenda-form a.active,.encomenda-form a.active{
    font-weight:bold;
}
select.encomenda-front{
    margin:0 3px 0 0;
    width:130px;
}
select.qt-select{width:150px;}

/* form slides */

#comerciantes-form-holder,#pessoafis-form-holder{
    width: 369px; 
    padding-left: 5px; 
    padding-top: 5px; 
    height: 160px;
    margin:0 0 0 5px;
    overflow:hidden;
}
.steps{
    height: 160px; width: 345px;
    overflow-y:auto;
}

/* breadcrumb */

#breadcrumbs{
    width:100%;
    height:auto;
    padding-bottom:10px;
    font:normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    color:#000;
}
#breadcrumbs a {
    color:#000;	
}
#breadcrumbs a.active-page{
    font:bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.coluna-esquerda{width:650px;padding: 0 0 10px 0;}
.coluna-esquerda .b{padding-bottom:5px;text-align:justify;font:normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;}
.representante{font:normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;border-bottom:1px #ccc dotted;height:55px;}
.representante h3{font:bold 15px Verdana, Geneva, Arial, Helvetica, sans-serif;}
.condicoes{font:normal 10px Verdana, Geneva, Arial, Helvetica, sans-serif;text-align:center;}
a.encomendar-link{font-weight:bold;}
.form-content{display:none;}

.form-content{overflow-x:hidden;}
.form-content table{max-width:345px;}
.form-content table tr td{padding:0 10px 10px 0;}
.form-content input[type="text"]{background-color:#000;color:#fff;border:1px #fff solid;width:140px;font:normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;padding:2px;}
.form-content input[type="text"]:focus{font:italic 11px Verdana, Geneva, Arial, Helvetica, sans-serif;border-color:#ac2323;}
.form-content .nomes{width:107px;}
.form-content .form-card{height:30px;}
.form-content textarea{width: 254px; height: 89px;border:1px #ccc solid;background-color:#000;color:#fff;}

#copyright{
    position:static;
    bottom:0;
    right:0;
    width:100%;
    text-align:right;
    font:bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

table.form-box{text-align:left;font:normal 10px Verdana, Geneva, Arial, Helvetica, sans-serif;}
table.form-box tr td.titulo{font:bold 16px Verdana, Geneva, Arial, Helvetica, sans-serif;}
table.form-box tr td{padding:5px 0px 5px 8px;vertical-align:top;}
table.form-box input[type="text"].ddd{width:30px;}
table.form-box input[type="text"].tel{width:158px;}
table.form-box input[type="text"]{width:200px;border:1px #ccc solid;}
table.form-box textarea{width:200px;height:120px;border:1px #ccc solid;overflow-y:auto;}
table.form-box textarea:focus,table.form-box input[type="text"]:focus{border:1px orange solid;}

table.catalogo-busca{
    background-color:#efefef;
    color:#666;
}
table.catalogo-busca tr td{
    padding:10px 5px 10px 5px;
    white-space:nowrap;
    vertical-align:middle;
}
table.catalogo-busca input[type="text"]{
    width:90px;
    border:0;
    padding:2px;
}
table.catalogo-busca select{
    width:70px;
    border:0;
}
.catalogo-capsule{
    width:150px;
    height:auto;
}
.catalogo-capsule .produto{
    width:120px;
    height:130px;
    background:url("../img/catalogo/catalogo-produto-fundo.png") no-repeat;
    padding-left:10px;
}
.catalogo-capsule .nome-produto{
    text-transform:uppercase;
    color:#666;
    text-align:center;
    width:130px;
}
.catalogo-capsule .produto-img{
    position:absolute;
    z-index:1;
    margin-top: 0px; 
    padding-top: 5px; 
    padding-bottom: 0px;
}
.catalogo-capsule .preco-holder{
    position:absolute;
    z-index:2;
    padding-top: 80px;
    font-size:18px;
    width: 119px;
    height:50px;
    margin-top:-5px;
    margin-left: -6px; 
    background:url("../img/degrade.png") 0px 20px repeat-x; 
    padding-left: 3px;
    color:#666;
    cursor:pointer;
    display:none;
}
.catalogo-capsule .produto:hover .preco-holder{
    display:block;
}
.prodview-holder .prodMax{border:1px #ccc solid;}
.prodview-holder .prodMax img{max-width:300px;}
.prodview-holder .prodGal{padding-top: 10px;}
.prodview-holder .prodGal .miniGalPic{
    border:1px #ccc solid;
    margin-right:5px;
    cursor:pointer;
}
.prodview-holder .prodGal img{max-width:80px;}
.prodview-holder .descricao{width:330px;}
textarea.question{border:1px #ccc solid;width: 330px; height: 60px;}
select.qt{
    border:1px #ccc solid;
    width:40px;
}
.cart-item{padding:5px;background-color:#eaeaea;margin-bottom:5px;}
.cart-item,.cart-item-pic img{border:1px #ccc solid;}
.cart-item-desc{background-color:#fff;width: 500px; height: 130px;padding:5px;border:1px #ccc solid;}
.usrNameCart{padding:0 0 5px 0;}
