<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>

        </title>

        <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="css/ie7.css" />
    <![endif]-->

        <link href="css/estilo.css" rel="stylesheet" type="text/css" /></head>
    <body>
        <form name="form1" method="post" action="Default.aspx" onsubmit="javascript:return WebForm_OnSubmit();" id="form1">
            <div>
                <input type="hidden" name="__LASTFOCUS" id="__LASTFOCUS" value="" />
                <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
                <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
                <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE5ODI2NjUzMjBkGAEFHl9fQ29udHJvbHNSZXF1aXJlUG9zdEJhY2tLZXlfXxYBBQhidG5Mb2dpbuYkRafKmyg3bWaDhHAC1JZif+SZ" />
            </div>

            <script type="text/javascript">
                //<![CDATA[
                var theForm = document.forms['form1'];
                if (!theForm) {
                    theForm = document.form1;
                }
                function __doPostBack(eventTarget, eventArgument) {
                    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                        theForm.__EVENTTARGET.value = eventTarget;
                        theForm.__EVENTARGUMENT.value = eventArgument;
                        theForm.submit();
                    }
                }
                //]]>
            </script>


            <script src="/WebResource.axd?d=JNhxtgrIuf4s8gbiuySDXSQMbJCwhLel9t4YGT3kKeNCBykgu4uDKKBWsS31jRQ45g4HKDHmQdRVUHdY1yYEmh13OFQ1&amp;t=634250561359270270" type="text/javascript"></script>


            <script src="/ScriptResource.axd?d=1XsQlPGjdDjqxz_KqiY9szKrRhs23e0NHCFjHXpZ89_6nJt_cJfcGhIV592wLjuIcDa1W6wsyEVFs32tnH5wBDLCtfqcBHw6hyD9Lk99qJTuE9QEiO54I9b72rfH7_8mUaMs4XLc7SgS2lIPbHoewMtqt_k1&amp;t=78a6ab5d" type="text/javascript"></script>
            <script src="/ScriptResource.axd?d=qEIk7iSqORLR6jWs8ulmHQOgAUKvXiBp13hbS51pWC9ysyyDn2r6nw_Wdi_kSwqvS_GS_awtesqHtJ37mbM57gAglbJm-b3RDugTdBm2-05l2r7Hjabdw4dr1QS1rlulCeqxC648XaJuxcgrcl6h1uSE_4ioLaM4gq26tng7TNJVzh7K0&amp;t=ffffffff96ba276d" type="text/javascript"></script>
            <script type="text/javascript">
                //<![CDATA[
                if (typeof(Sys) === 'undefined') throw new Error('A estrutura do cliente do ASP.NET Ajax falhou ao ser carregada.');
                //]]>
            </script>

            <script src="/ScriptResource.axd?d=PL4JsLnp_wrTQjkvVZswOJwx63ot3GmSU2Gd0FURucsF71pzjc3ge8KcnPZczrdvKDfXkQGBCDCWE_7Og0VcsYzHRUkaunKKVLLJ-24fZzFXAvkQ7hQTFjma9kCtX5KL1CGzsD4Q2Kk1pVkirjIyaZAincxQunPpWiweXBP9cKmLD4w50&amp;t=ffffffff96ba276d" type="text/javascript"></script>
            <script src="/WebResource.axd?d=GrreJAmM-W1U4RZb9Heq3ZG2D003MBIIi2BnbIDtq8xmfkKND3VAJT9roJzeQ4H3ZrE-cP8MB-zZ-xC_-gqDRhVLrMI1&amp;t=634250561359270270" type="text/javascript"></script>
            <script type="text/javascript">
                //<![CDATA[
                function WebForm_OnSubmit() {
                    if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
                    return true;
                }
                //]]>
            </script>

            <div>

                <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWCALbkqe9BAKO+NWZBAKVrJy2DgKXrJy2DgLQ+vrYBwKpwKPFCALxiYiEAQKC3IeGDJo0/QDdKeAON2/V6CY+1H6AjbaM" />
            </div>

            <div id="container">

                <div id="topo">
                    <img src="img/CPweb_Logo.png" border="0" class="logo" />

                    <img src="img/img_balanca.gif" border="0" class="balanca float_right" />

                    <br class="clear" />

                </div><!-- fecha div topo -->

                <div id="menu">
                </div><!-- fecha div menu -->

                <div class="clear_ie"></div>

                <div id="corpo">
                    <div class="box_corpo_01"></div><!-- fecha div corpo_01 -->
                    <div class="box_corpo_02">


                        <img src="img/linha_vinho.gif" border="0" class="linha" />

                        <h1 class="title_pag"> Acesso ao Sistema </h1>

                        <img src="img/linha_vinho.gif" border="0" class="linha" />

                        <br /><br />

                        <script type="text/javascript">
                            //<![CDATA[
                            Sys.WebForms.PageRequestManager._initialize('SManager', document.getElementById('form1'));
                            Sys.WebForms.PageRequestManager.getInstance()._updateControls(['tLogin'], [], [], 90);
                            //]]>
                        </script>


                        <div id="Login">




                            <table id="tabela_de_login">
                                <tr>
                                    <td>
                                        Empresa
                                        <br />
                                        <input name="txtIdEmpresa" type="text" maxlength="25" id="txtIdEmpresa" class="input" style="width:300px;" />
                                    </td>
                                    <td>
                                        Tipo
                                        <br />
                                        <select name="cboTipo" id="cboTipo" class="input_pad" style="width:120px;">
                                            <option value="C">Cliente</option>
                                            <option value="A">Advogado</option>
                                            <option value="Adm">Administra&#231;&#227;o</option>

                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <!-- Criticas da linha de cima -->
                                        <div class="critica">
                                            <span id="rfvEmpresa" style="color:Red;visibility:hidden;">Campo Empresa Obrigatório!</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Usuário
                                        <br />
                                        <input name="txtUsuario" type="text" maxlength="25" id="txtUsuario" class="input" style="width:300px;" />
                                    </td>
                                    <td>
                                        Senha
                                        <br />
                                        <input name="txtSenha" type="password" maxlength="13" id="txtSenha" class="input" style="width:110px;" />
                                    </td>
                                    <td style="padding-top:15px;">
                                        <input type="image" name="btnLogin" id="btnLogin" src="img/bt_logar.gif" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;btnLogin&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" style="border-width:0px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!-- critica user -->
                                        <div class="critica">
                                            <span id="rfvUsuario" style="color:Red;visibility:hidden;">Nome Obrigatorio!</span>
                                        </div>
                                    </td>
                                    <td>
                                        <!-- critica senha -->
                                        <div class="critica">
                                            <span id="rfvSenha" style="color:Red;visibility:hidden;">Senha Obrigatoria!</span>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="right">
                                        <a href="#" onclick="alert('Entre em contato com o administrador')">
                                            Esqueceu seu login ou senha ?
                                        </a>
                                    </td>
                                </tr>
                            </table>


                        </div>


                        <br />
                        <br />


                        <div id="conteudo_propaganda">
                            <div class="item">
                                <p style="padding-top:25px;">
                                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="181" height="78">
                                        <param name="movie" value="img/anunciante/banner_infoclad.swf" />
                                        <param name="quality" value="high" />
                                        <param name="wmode" value="opaque" />
                                        <embed src="img/anunciante/banner_infoclad.swf" quality="high" wmode="opaque" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="181" height="78"></embed>
                                    </object>
                                </p>
                            </div>

                            <div class="item">
                                <p style="padding-top:25px;">
                                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="181" height="78">
                                        <param name="movie" value="img/anunciante/banner_romanzza.swf" />
                                        <param name="quality" value="high" />
                                        <param name="wmode" value="opaque" />
                                        <embed src="img/anunciante/banner_romanzza.swf" quality="high" wmode="opaque" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="181" height="78"></embed>
                                    </object>
                                </p>
                            </div>

                            <div class="item">
                                <p>
                                    <img src="img/propaganda_01.gif" border="0" />
                                </p>
                            </div>

                            <div class="item">
                                <p>
                                    <img src="img/propaganda_01.gif" border="0" />
                                </p>
                            </div>

                            <br class="clear" />
                        </div><!-- fim da cont_propaganda -->

                        <br />


                    </div><!-- fecha div corpo_02 -->
                    <div class="box_corpo_03"></div><!-- fecha div corpo_03 -->
                </div><!-- fecha div corpo -->
                <br class="clear" />

            </div> <!-- fecha container -->


            <script type="text/javascript">
                //<![CDATA[
                var Page_Validators =  new Array(document.getElementById("rfvEmpresa"), document.getElementById("rfvUsuario"), document.getElementById("rfvSenha"));
                //]]>
            </script>

            <script type="text/javascript">
                //<![CDATA[
                var rfvEmpresa = document.all ? document.all["rfvEmpresa"] : document.getElementById("rfvEmpresa");
                rfvEmpresa.controltovalidate = "txtIdEmpresa";
                rfvEmpresa.errormessage = "Campo Empresa Obrigatório!";
                rfvEmpresa.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
                rfvEmpresa.initialvalue = "";
                var rfvUsuario = document.all ? document.all["rfvUsuario"] : document.getElementById("rfvUsuario");
                rfvUsuario.controltovalidate = "txtUsuario";
                rfvUsuario.errormessage = "Nome Obrigatorio!";
                rfvUsuario.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
                rfvUsuario.initialvalue = "";
                var rfvSenha = document.all ? document.all["rfvSenha"] : document.getElementById("rfvSenha");
                rfvSenha.controltovalidate = "txtSenha";
                rfvSenha.errormessage = "Senha Obrigatoria!";
                rfvSenha.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
                rfvSenha.initialvalue = "";
                //]]>
            </script>


            <script type="text/javascript">
                //<![CDATA[

                var Page_ValidationActive = false;
                if (typeof(ValidatorOnLoad) == "function") {
                    ValidatorOnLoad();
                }

                function ValidatorOnSubmit() {
                    if (Page_ValidationActive) {
                        return ValidatorCommonOnSubmit();
                    }
                    else {
                        return true;
                    }
                }
                WebForm_AutoFocus('txtIdEmpresa');Sys.Application.initialize();

                document.getElementById('rfvEmpresa').dispose = function() {
                    Array.remove(Page_Validators, document.getElementById('rfvEmpresa'));
                }

                document.getElementById('rfvUsuario').dispose = function() {
                    Array.remove(Page_Validators, document.getElementById('rfvUsuario'));
                }

                document.getElementById('rfvSenha').dispose = function() {
                    Array.remove(Page_Validators, document.getElementById('rfvSenha'));
                }
                //]]>
            </script>
        </form>

        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-4906755-4");
                pageTracker._trackPageview();
            } catch (err) { }</script>

    </body>
</html>
