@CHARSET "ISO-8859-1";

#logo{
	padding-top: 20px; 
	padding-left: 60px;
}
#topBar{
	height:auto;
	width:100%;
	background-color:#0094cf;
	color:#fff;
}
#topBar a{
	color:#fff;
}
.barra{
	padding:5px 0px 5px 0px;
}
#logoMensagem{
	margin-top: -30px; 
	margin-left: 0px; 
	padding-left: 122px;
}
#loginBox{
	padding-top: 60px; padding-right: 50px;
}
.loginBox{
	width: 243px; height: 28px;
	background:url("../img/loginFundo.gif") no-repeat;
	color:#fff;
	padding-top: 6px; padding-left: 8px;
}
.loginBox a{
	color:#fff;
}
#loginBox input[type="text"],#loginBox input[type="password"]{
	width:90px;
	padding:4px;
	border:0;
	background:transparent;
	color:#fff;
	font:normal 10px Arial, Helvetica, sans-serif;
	cursor:pointer;
}
#loginBox input[type="text"]:focus,#loginBox input[type="password"]:focus{background-color:#148cbc;}
#imageContainer{
	position:relative;
	margin:auto;
	width:1024px;
	height:250px;
	padding-bottom: 2px;
}
#imageContainer img{
	display:none;
	position:absolute;
	top:0; left:0;
	width:1024px;
	height:250px;
	/*-moz-border-radius: 5px;
	border-radius: 5px;*/
}
#headlines{
	width:1024px;
	height:auto;
	background-color:#6c7d9d;
	color:#fff;
	padding-bottom:10px;
	margin-bottom:2px;
}
#headlines a{
	color:#fff;
}
.headlines{
	width:460px;
	min-height:60px;
}
.headline-content{
	width: 350px; padding-left: 10px;
	text-transform:capitalize;
	text-align:justify;
	
}
.barra-busca{
	background-color:#289ac7;
	color:#fff;
	width:1024px;
	height:33px;
}
.barra-busca a{
	color:#fff;
}
#fb-root{
	height:25px;
	width:310px;
	padding:5px;
}
input[type="text"].busca{
	width:200px;
	padding:3px;
	font:normal 10px Arial, Helvetica, sans-serif;
	color:#289ac7;
	border:0;
}
.menu{
	position:absolute;
	border-top:2px #fff solid;
	width:1024px;
	background-color:#0094cf;
	text-transform:capitalize;
	line-height:18px;
	display:none;
	z-index:3;
}
#menu:hover .menu{
	display:block;
}
#breadcrumb{
	padding:5px 0 5px 0;
	width:1024px;
}
.destaque{
	width:310px;
	height:180px;
}
.blue-box,.green-box,.red-box{
	color:#fff;
	padding:1px 4px 1px 4px;
}
.blue-box{
	background-color:#0094cf;
}
.green-box{
	background-color:#94c27d;
}
.red-box{
	background-color:#ce3748;
}
.blue-box a,.green-box a,.red-box a{
	color:#fff;
}
.destaque-pic{
	position:absolute;
	z-index:1;
}
.destaque-link{
	position:absolute;
	z-index:2;
	padding-top: 145px; padding-left: 5px;
}
.mid{
	padding:0 46px 0 46px;
}
#conteudo{
	padding-bottom:10px;
}
#footer{
	height:486px;
	width:100%;
	background:url("../img/sprites/sprite-x.gif") repeat-x;
	font-size:11px;
}
.footer-header{
	height:260px;
	width:100%;
}
#footer,#footer a{color:#666;}
#footer h1{font-weight:bold;}
#footer ul{
	padding-right:90px;
	padding-top:15px;
	padding-bottom:10px;
}
