@CHARSET "ISO-8859-1";

.header{
	background:url("../img/fundo.gif") repeat-x;
	height:112px;
	width:100%;
}
.logo{
	padding-top:10px;
}
.shortcut{
	width:180px;
	height:30px;
	background:url("../img/atalhos_fundo.gif") -8px bottom no-repeat;
	padding-top:24px;
	line-height:20px;
	padding-left:10px;
}
.shortcut a,.shortcut{color:#fff;}
.shortcut a{text-decoration:underline;}
.shortcut a:hover{text-decoration:none;}
.menu a,.menu{color:#fff;}
.menu-principal{line-height:25px;}
