    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-4906755-1']);
        _gaq.push(['_setDomainName', '.infoclad.com.br']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>


    <!-- DON'T REMOVE ANY LINE BREAKS OR TAGS AND DON'T PLACE IN HEAD ELEMENT -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var script = document.createElement("script");script.type="text/javascript";var src = "http://academiainfoclad.com.br//atendimento/server.php?request=track&output=jcrpt&nse="+Math.random();setTimeout("script.src=src;document.getElementById('livezilla_tracking').appendChild(script)",1);
        /* ]]> */
    </script>