@charset "utf-8";
/* CSS Document */

/* includes */

@import url(reset.css);
@import url(clearfix.css);

/* global */

body{margin:10px auto;text-align:center;overflow-x:hidden;font:11px Arial, Helvetica, sans-serif;}
body a{text-decoration:none;}
.wrapper{position:relative;margin:0px auto;text-align:left;width:740px;}
.inline li{display:inline;margin-right:5px;}
.gray{color:#626469;}
.red{color:#C30;}
.lightblue{color:#4db7e1;}
.taman1{font-size:11px;}
.taman2{font-size:12px;}
.taman3{font-size:13px;}
.taman4{font-size:24px;}
.bolder{font-weight:bold;}
#topo{position:relative;width:100%;height:auto;margin-bottom:20px;}
#topo table{width:100%;}
#topo table tr td{text-align:center;vertical-align:middle;}
#topofooter{position:relative;width:100%;height:auto;margin-bottom:0px;}
#topofooter img.fundo{position:relative;width:100%;height:75px;}
#topofooter .conteudo_estatico{position:absolute;z-index:200;bottom:5px;white-space:nowrap;}
#topofooter .conteudo_estatico .fundo{left:-300px;}
#busca{position:relative;width:100%;height:37px;margin-bottom:20px;background:url("../images/fundo_topofooter.png") repeat-x;}
#busca table.busca{position:absolute;right:0px;top:0px;width:auto;height:31px;background-color:#f2f8fb;}
table.busca tr td{vertical-align:middle;text-align:center;padding:0px 5px 0px 5px;}
table.busca input[type="text"]{width:200px;}
table.busca select{width:150px;}
#conteudo{position:relative;width:100%;height:auto;margin-bottom:20px;background:url("../images/gray_bg.png") repeat-x;}
.floatingbox{position:relative;height:auto;margin-bottom:10px;}
.column{position:relative;float:left;width:auto;height:auto;margin-right:5px;}
ul.menu{position:relative;margin-bottom:10px;}
ul.menu li{padding:3px;width:155px;background-color:#e8f6fb;color:4db7e1;border-bottom:1px #fff solid;cursor:pointer;}
ul.menu li a{color:#4db7e1;}
ul.menu li:hover{background-color:#4db7e1;}
ul.menu li:hover a{color:#fff;}
ul.menucatalogo{position:relative;margin-bottom:10px;}
ul.menucatalogo li{padding:3px;width:155px;background-color:#eaeaea;color:4db7e1;border-bottom:1px #fff solid;cursor:pointer;}
ul.menucatalogo li a{color:#4db7e1;}
ul.menucatalogo li:hover{background-color:#4db7e1;}
ul.menucatalogo li:hover a{color:#fff;}
#javascriptBanner{position:relative;width:380px;height:141px;margin-bottom:10px;}
.news{position:relative;width:205px;}
table.news{position:relative;float:left;width:360px;margin-left:5px;height:80px;}
table.news tr td{vertical-align:middle;padding-bottom:5px;padding-right:20px;}
.news li{width:205px;text-align:justify;margin-bottom:5px;}
.formulario{position:relative;float:left;margin-right:40px;}
.formulario tr td{vertical-align:middle;padding-right:1px;}
.formulario input[type="text"]{width:200px;border:1px #CCC solid;}
.formulario textarea{width:200px;border:1px #ccc solid;height:140px;}
.catalogo{position:relative;width:100%;min-height:70px;}
.catalogo ul{position:relative;float:left;margin-right:10px;width:145px;margin-bottom:30px;}
.catalogo ul li{text-align:center;line-height:20px;}
.catalogo ul li.produto{background:url("../images/catalogo.png") no-repeat;height:130px;width:140px;padding-top:10px;}
.catalogo ul li.produto img{width:130px;}
.galeria{position:relative;width:auto;height:auto;}
.galeria .fullbox img{width:300px;}
.galeria .prodrow img{width:150px;}
.galeria
#breadcrumb{position:relative;width:auto;height:auto;margin-bottom:5px;}
#rodape{position:relative;width:100%;height:auto;}
#rodape table.rodape tr td{padding-right:10px;}

