<img src="content/template/images/banner_1.jpg" alt=""  style="width: 100%" />


<br />
<br />

<p>
    <strong>CPweb – Controle de Processos Web</strong>
    <br/><br/>

    CPweb é um sistema de controle de processos via web, que proporciona a seus usuários toda a mobilidade e segurança necessária ajudando no cumprimento dos prazos exigidos no gerenciamento das rotinas dos processos jurídicos. Esta ferramenta foi desenvolvida para facilitar os trâmites diários do advogado e de seu escritório, organizando a agenda de compromissos a fim de minimizar os riscos de perdas nos prazos de cada processo. A importância do tratamento exigido para cada defesa se divide em duas partes: a primeira, de atuação externa com diligências diárias, a segunda parte, na área administrativa, com rigorosos controles internos. O CPWEB facilita o dia-dia do escritório e é eficaz para controlar qualquer quantidade de processos cadastrados, agregando valores ao estilo organizacional de cada escritório jurídico.
    <br/>
    <br/>
    O CPweb apresenta em sua versão 2.0 todas as vantagens de um sistema completo web, com navegação 24 horas e de qualquer lugar do mundo, onde se tenha um link de internet, é possível gerenciar todas as tarefas exigidas no andamento processual, com envio automático de e-mails aos interessados a cada movimentação e e-mails programados para processos sem movimentação. Disponibiliza o recurso de postagem de arquivos (upload e download) do tipo fotos, PDF e outras extensões, distribuição e gerenciamento da agenda de audiências com possibilidades de impressão total ou por período com consulta dinâmica para cumprimento dos prazos.
    <br/>
    <br/>
    O CPweb apresenta a seus usuários uma interface elegante e de fácil entendimento e navegação, sem a complexidade de outros sistemas, mostrando sua praticidade desde o momento da aquisição, não sendo necessária a instalação e sim, apenas uma habilitação de login e senha por parte da empresa desenvolvedora, sem a necessidade de CD de instalação ou qualquer outro aplicativo. A sua facilidade de navegação é um atrativo para todos os seus usuários, e proporciona a união entre a complexidade de toda estrutura de um sistema completo com a simplicidade no manuseio operacional. O CPweb é tão simples de se operar que podemos garantir aos nossos novos usuários um treinamento rápido em forma de apresentação de telas e suas funcionalidades.
    <br/>
    <br/>
    O CPweb oferece como sua principal característica a navegação sem limites por licença, o que significa que o escritório de advocacia poderá disponibilizar para seus advogados, estagiários e audiencistas, através de seu login e senha de administrador, outras senhas de acesso com as devidas competências para navegação de todos os envolvidos no acompanhamento de cada processo, sem a necessidade do deslocamento freqüente ao escritório.
    <br/>
    <br/>
    Outra característica importante do CPweb, é colocar todos os clientes interessados, a par de cada andamento processual e suas despesas relacionadas, através de comunicação via e-mail automático a cada atualização ou e-mail programado para os processos que não tiveram movimentação, a fim de otimizar tempo, evitando as inúmeras ligações diárias para busca de informação sobre cada processo.
    <br/>
    <br/>
    E ainda resguarda todas as informações registradas em sua base de forma criptografadas, como medida que visa a segurança com o propósito de minimizar riscos de possíveis invasões e ou manipulação das informações postadas através de cada usuário competente.
    <br/>
    <br/>
    O valor mensal, conforme o convênio estabelecido entre a CAARJ e com o apoio da OAB/RJ, para utilização da ferramenta é de R$ 77,00 (setenta e sete reais), sem taxa de instalação ou adesão as licenças. Este valor é sobre uma única licença para gerenciamento de até 1000 processos e sem limites de usuário por licença para administração das rotinas processuais, vinculado a um contrato de 24 meses de utilização.
    <br/>
    <br/>
    O valor mensal para gerenciamento de até 2000 processos é de R$ 98,00 (noventa e oito reais), sem taxa de instalação ou adesão as licenças.
    <br/>
    <br/>
    O pagamento das mensalidades deverá ser realizado através de boletos bancários emitidos pela INFOCLAD.
    <br/>
    <br/>
</p>

<br/>
<br/>

<p>
    <strong>Telas do Sistema</strong>
    <br/><br/>
</p>


<table class="telas_sistema">
    <tr>
        <th class="strong">Tela Inicial</th>
        <th class="strong">Gerenciamento de Processos</th>
    </tr>
    <tr>
        <td><img src="content/template/images/cpweb_1.jpg" alt="" /></td>
        <td><img src="content/template/images/cpweb_2.jpg" alt="" /></td>
    </tr>
    <tr>
        <td>O CPweb apresenta a seus usuários uma interface elegante e de fácil entendimento e navegação, sem a complexidade de outros sistemas, mostrando sua praticidade desde o momento da aquisição, não sendo necessária a instalação e sim, apenas uma habilitação de login e senha por parte da empresa desenvolvedora, sem a necessidade de CD de instalação ou qualquer outro aplicativo.</td>
        <td>A sua facilidade de navegação é um atrativo para todos os seus usuários, e proporciona a união entre a complexidade de toda estrutura de um sistema completo com a simplicidade no manuseio operacional. O CPweb é tão simples de se operar que podemos garantir aos nossos novos usuários um treinamento rápido em forma de apresentação de telas e suas funcionalidades.</td>
    </tr>
    <tr>
        <th class="strong">Relatório de Audiência</th>
    </tr>
    <tr>
        <td><img src="content/template/images/cpweb_3.jpg" alt="" /></td>
    </tr>
    <tr>
        <td>A sua facilidade de navegação é um atrativo para todos os seus usuários, e proporciona a união entre a complexidade de toda estrutura de um sistema completo com a simplicidade no manuseio operacional. O CPweb é tão simples de se operar que podemos garantir aos nossos novos usuários um treinamento rápido em forma de apresentação de telas e suas funcionalidades.</td>
    </tr>
</table>


<br />
<br />

<p>
    <strong>Sistemas:</strong>
    <br /><br />
</p>


<ul>
    <li>Aplicativos para Web e Intranet;</li>
    <li>Automatização de processos;</li>
    <li>Desenvolvimento de sistemas para integração de tecnologia aos seus negócios;</li>
    <li>Migração e portabilidade Windows/Linux;</li>
    <li>Desenvolvimento de sites e portais.</li>
</ul>
